@model JobListingsShared.Models.Job
@{
    ViewBag.BannerTitle = "Delete listing !";
}

@await Html.PartialAsync("Banner")
<div class="container my-5">
	<div class="row d-flex justify-content-center w-100">
		<div class="col-lg-8 post-list text-center">
			<h3 class="text-danger">Would you like to delete job listing: @Model.Name (id:@Model.Id) ?</h3>
				@*<form method="post" asp-controller="Jobs" asp-action="DeleteJobListingConfirmed" asp-route-id="@Model.Id">
					@Html.AntiForgeryToken()
					<input type="submit" class="btn btn-danger mb-3" value="Yes" />
				</form>
				<a class="btn btn-primary m-3" role="button"
				   asp-controller="Jobs" asp-action="DetailedDescription" asp-route-id="@Model.Id">
					No
				</a>*@
			<div class="w-100 my-3 d-flex justify-content-center align-items-center">
				<form method="post" asp-controller="Jobs" asp-action="DeleteJobListingConfirmed" asp-route-id="@Model.Id">
					@Html.AntiForgeryToken()
					<div class="d-flex">
						<input type="submit" class="btn btn-danger mb-3 mr-3" value="Yes" />
						<a class="btn btn-primary mb-3" role="button"
						   asp-controller="Jobs" asp-action="DetailedDescription" asp-route-id="@Model.Id">
							No
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>